{{#each users}}
    <div class="userbox">
        <div><a href="#" class="chirp-author">{{name}}</a></div>

        <div class="user-details">
            <span>{{followers}} followers</span>
        </div>
    </div>
{{/each}}