* {
    padding: 0;
    margin: 0;
	font-size: 14px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
    background: #bccfe0;
    font-family: Verdana;
    line-height: 1.5;    
}    

#container {
    margin: 40px;
	background: #fff;
	padding: 40px;
}

footer {
	margin-top: 20px;
	text-align: center;
}

.welcome p {
    width: 100%;
    text-justify: auto;
} 

.welcome  img {
    width: 100%;
    padding: 15px;
} 

.sign {
    text-align: center;
}

.services {
    height: 160px;
    width: 210px;
    display: inline-block;
    margin: 5px;
    padding: 5px;
}

.services h2 {
    padding-bottom: 10px;
    text-align: center;
}
