<div class="post" data-id="{{id}}">
    <div class="col thumbnail">
        <a href="{{url}}">
            <img src="{{imageUrl}}">
        </a>
    </div>
    <div class="post-content">
        <div class="title">
            <a href="{{url}}">
                {{title}}
            </a>
        </div>
        <div class="details">
            <p>{{description}}</p>
            <div class="info">
                submitted {{submitted}} ago by {{author}}
            </div>
            <div class="controls">
                <ul>
                    <li class="action"><a class="editLink" href="#">edit</a></li>
                    <li class="action"><a class="deleteLink" href="#">delete</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="post post-content">
    <form id="commentForm">
        <label>Comment</label>
        <textarea name="content" type="text"></textarea>
        <input type="submit" value="Add Comment" id="btnPostComment">
    </form>
</div>